:root {
  --gallery-columns: 4;
}

::-webkit-scrollbar {
  display: none;
}

#gallery-box #gallery-bar {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
#gallery-box #gallery-bar #view-mode {
  width: 110px;
  min-width: 110px;
  height: 34px;
  margin-right: 20px;
}
#gallery-box #gallery-bar #view-mode #toggle {
  z-index: -1;
  position: absolute;
  width: 105px;
  height: 43px;
  margin-left: 1px;
  border-radius: 18px;
  background-color: var(--color-a2);
}
#gallery-box #gallery-bar #view-mode #toggle div {
  width: 57.5px;
  height: 43px;
  margin-left: 48.5px;
  border-radius: 18px;
  background-color: var(--color-a3);
  transition: margin-left 0.5s ease-in-out;
  animation: toggleMoveRight ease-out 1s;
  animation-iteration-count: 1;
}
#gallery-box #gallery-bar #view-mode button {
  width: 54px;
  margin-right: calc(-0.2em - 1px);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  transition: filter 0.25s ease-in-out;
}
#gallery-box #gallery-bar #view-mode button img {
  width: 31px;
  height: 35px;
  margin-top: 3px;
  margin-left: 4px;
  padding-top: 4px;
  pointer-events: none;
}
#gallery-box #gallery-bar #view-mode button:hover:not(.active) {
  filter: invert(100%);
}
#gallery-box #gallery-bar #gallery-filter {
  overflow: hidden;
  height: auto;
  font-family: "Chivo Mono", monospace;
  font-size: 18px;
  text-align: center;
  transition: max-height 0.5s ease-in-out;
}
#gallery-box #gallery-bar #gallery-filter .btn {
  font-size: 18px;
  min-width: 5em;
  height: 1.5em;
  margin: 3px 0.5em;
  padding: 0 0.75em;
  border-radius: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-d0);
  background-color: var(--color-a2);
  transition: background-color 0.25s ease-in, color 0.1s ease-in;
}
#gallery-box #gallery-bar #gallery-filter .btn:hover:not(.active, .empty) {
  font-weight: 600;
  color: var(--color-a3);
  background-color: var(--color-a2);
}
#gallery-box #gallery-bar #gallery-filter .btn.empty {
  color: #dde2f1;
  background-color: rgba(108, 108, 145, 0.4117647059);
}
#gallery-box #gallery-bar #gallery-filter .active {
  font-weight: 600;
  color: var(--color-a0);
  background-color: var(--color-a3);
}
#gallery-box #galleryEntry {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 13px 13px;
}
#gallery-box #galleryEntry .entryWrapper {
  overflow: hidden;
  aspect-ratio: 1.5/1;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4509803922);
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
}
#gallery-box #galleryEntry .entryWrapper .entry {
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.02);
  transition: transform 0.2s ease-out;
}
#gallery-box #galleryEntry .entryWrapper .entry:hover {
  transform: scale(1.1);
}
#gallery-box #gallerySeries {
  margin-bottom: 30px;
}
#gallery-box #gallerySeries .seriesEntry {
  display: flex;
  width: 100%;
  aspect-ratio: 4.5/1;
  margin-bottom: 13px;
}
#gallery-box #gallerySeries .seriesEntry:last-of-type {
  margin-bottom: 0;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv {
  width: 14.2857142857%;
  height: 100%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4509803922);
  transition: width 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv:first-of-type {
  border-radius: 5px 0 0 5px;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv:last-of-type {
  border-radius: 0 5px 5px 0;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv:only-of-type {
  border-radius: 5px 5px 5px 5px;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv:hover {
  width: 42.8571428571%;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv.active {
  width: 42.8571428571%;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv .seriesEachEntry {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv .seriesInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  pointer-events: none;
  transition: 1s ease-in-out;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv .seriesInfo .seriesTitle {
  text-transform: uppercase;
  margin: 0 10px 10px 10px;
  padding: 3px 5px;
  border: 3px solid #dde2f1;
  color: #dde2f1;
  font-size: max(1.75cqw, 22px);
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv .seriesInfo .seriesDesc {
  margin: 0 10px 10px 10px;
  color: #dde2f1;
  font-size: max(1.25cqw, 15px);
  font-family: "Work Sans", sans-serif;
}
#gallery-box #gallerySeries .seriesEntry .seriesEachDiv:hover .seriesInfo {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

#galleryLightbox {
  z-index: 950;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8784313725);
  color: white;
  outline: none;
}
#galleryLightbox:has(#lb_frame:hover) > #lb_text {
  opacity: 0.8;
}
#galleryLightbox #lb_text {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  height: auto;
  border-radius: 0 0 5px 5px;
  background-color: var(--color-a0);
  color: var(--color-d0);
  font-size: 25px;
  pointer-events: none;
}
#galleryLightbox #lb_text #lb_title {
  font-family: "mainFont";
  margin: 10px 10px 0px 10px;
}
#galleryLightbox #lb_text #lb_desc {
  margin: 0px 10px 10px 10px;
  font-size: 20px;
  font-family: "Chivo Mono", monospace;
  font-weight: 300;
}
#galleryLightbox #lb_frame {
  display: flex;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: calc(100vw - 160px);
  max-height: calc(100vh - 40px - 90px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-size: contain;
}
#galleryLightbox #lb_thumbList {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: calc(100vw - 0px);
  height: 80px;
  margin: 0px 0px 20px 0px;
  -webkit-mask-image: linear-gradient(to right, transparent 80px, black 20%, black 80%, transparent calc(100vw - 80px));
          mask-image: linear-gradient(to right, transparent 80px, black 20%, black 80%, transparent calc(100vw - 80px));
}
#galleryLightbox #lb_thumbList #lb_thumbScroll {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#galleryLightbox #lb_thumbList #lb_thumbScroll .lightSpacer {
  width: calc((100vw - 0px) / 2 - 40px - 15px);
  min-width: calc((100vw - 0px) / 2 - 40px - 15px);
}
#galleryLightbox #lb_thumbList #lb_thumbScroll .eachLight {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: brightness(100%);
  transition: filter 0.25s ease-in-out;
}
#galleryLightbox #lb_thumbList #lb_thumbScroll .eachLight.current {
  filter: brightness(35%);
}
#galleryLightbox #lb_count {
  position: fixed;
  right: 10px;
  bottom: 20px;
  min-width: 70px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  font-size: 16px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(17, 17, 17);
  font-family: "Chivo Mono", monospace;
  text-align: center;
}
#galleryLightbox .lb_next {
  content: url("../images/tmp/arw.svg");
  position: fixed;
  top: 75px;
  width: 80px;
  height: calc(100vh - 90px - 95px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#galleryLightbox .lb_pre {
  left: 0;
}
#galleryLightbox .lb_post {
  right: 0;
  transform: scaleX(-1);
}
#galleryLightbox .lb_x {
  content: url("../images/tmp/na_small.svg");
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
}
#galleryLightbox .lb_btn {
  filter: opacity(25%);
  transition: filter 0.1s ease-in;
}
#galleryLightbox .lb_btn:hover:not(.disable) {
  filter: opacity(85%);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    bottom: -4px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes toggleMoveRight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 48.5px;
  }
}
@media only screen and (max-width: 1800px) {
  :root {
    --gallery-columns: 3;
  }
}
@media only screen and (max-width: 1200px) {
  :root {
    --gallery-columns: 2;
  }
}
@media only screen and (max-width: 750px) {
  :root {
    --gallery-columns: 1;
  }
}/*# sourceMappingURL=gallery.css.map */