.markdown-body {
    background-color: transparent;
    color: black;
}

.markdown-body pre {
    background-color: #C6CADE;
}

.hljs {
    color: #595959;
}

.hljs-attr, .hljs-number {
    color: #2E5AFF;
}

.hljs-string {
    color: #363636;
}


///.hljs-attr  3249C8  556BE8