@import url(main.css);

/* Font */
.ctmfont1 {font-family: 'Nerko One', cursive;}
.ctmfont2 {font-family: 'Merriweather', serif;}
.ctmfont3 {font-family: 'Fredoka One', cursive;}

/* Wrapper */

	#wrapper > .bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #212931;
			background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg_mc_01.jpg");
			background-size: auto,								auto,														100% auto;
			background-position: center,								center,														top center;
			background-repeat: repeat,								no-repeat,													no-repeat;
			background-attachment: scroll,								scroll,														scroll;
			z-index: -1;
	}

/* Row & Zoom*/

.row > .col-1-5 {
	z-index: 5;
	width: 8%;
	-webkit-filter: drop-shadow(2px 2px 0 rgb(65, 49, 207))
		drop-shadow(-2px 2px 0 rgb(65, 49, 207))
		drop-shadow(2px -2px 0 rgb(65, 49, 207))
		drop-shadow(-2px -2px 0 rgb(65, 49, 207));

	filter: drop-shadow(2px 2px 0 rgb(65, 49, 207))
		drop-shadow(-2px 2px 0 rgb(65, 49, 207))
		drop-shadow(2px -2px 0 rgb(65, 49, 207))
		drop-shadow(-2px -2px 0 rgb(65, 49, 207));
	
		transition: transform .1s;
		-ms-transform: scale(1.0); /* IE 9 */
		-webkit-transform: scale(1.0); /* Safari 3-8 */
		transform: scale(1.0); 
	}

.row > .col-1-5:hover {
	z-index: 6;
	transition: transform .1s;
	-ms-transform: scale(1.7); /* IE 9 */
	-webkit-transform: scale(1.7); /* Safari 3-8 */
	transform: scale(1.7); 
	}

.row > .col-4-5 {
	z-index: 5;
	width: 20%;
	-webkit-filter: drop-shadow(2px 2px 0 rgb(65, 49, 207))
		drop-shadow(-2px 2px 0 rgb(65, 49, 207))
		drop-shadow(2px -2px 0 rgb(65, 49, 207))
		drop-shadow(-2px -2px 0 rgb(65, 49, 207));

	filter: drop-shadow(2px 2px 0 rgb(65, 49, 207))
		drop-shadow(-2px 2px 0 rgb(65, 49, 207))
		drop-shadow(2px -2px 0 rgb(65, 49, 207))
		drop-shadow(-2px -2px 0 rgb(65, 49, 207));
	
		transition: transform .1s;
		-ms-transform: scale(1.0); /* IE 9 */
		-webkit-transform: scale(1.0); /* Safari 3-8 */
		transform: scale(1.0); 
	}
	
.row > .col-4-5:hover {
	z-index: 6;
	transition: transform .1s;
	-ms-transform: scale(1.7); /* IE 9 */
	-webkit-transform: scale(1.7); /* Safari 3-8 */
	transform: scale(1.7); 
	}